
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}

::-webkit-scrollbar {
    width: 8px;
  }
 
  
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 85, 255, 0.76); 
     border-radius: 10px; 
     
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #05F; 
}
  
  ::-webkit-scrollbar-track {
    background: transparent; 
 }
  
 

main{
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.goTOtop {
    display: none;
}

#goToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;

}


.nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 4vw;
    
}
.navlinks ul{
    display: flex;
    gap: 1rem;
    
}
.ConnectMe button{
    border: 1px solid black ;
    color: black;
    padding: 0.4rem 1.6rem ;
    border-radius: 8rem;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    gap: 0.92rem;
    align-items: center;
}
.ConnectMe button h4{
    display: block;
    font-weight: normal;
}

a{
    color: #000;
    cursor: pointer;
}
header hr{
    width: 91.6%;
    position: absolute;
    left: 4vw;
    border-radius: 8rem;
    background: gray;
    border: none;
    height: 1px;
}


.openMenu{
    display: none;
}
.openMenu input{
    display: none;
}
.openMenu label::before{
    content: "";
    position: absolute;
    top: 1.8rem;
    right: 2rem;
    background: lightgray;
    box-shadow: 0rem 0.6rem 0 #0D6EFD;
    border-radius: 0.1rem;
    height: .3rem;
    width:  1.8rem;   
}
.openMenu label::after{
    content: "";
    border-radius: 0.1rem;
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    background: lightgray;
    height: .3rem;
    width:  1.8rem;
    
}
@media (max-width:600px) {
    
    .openMenu{
        display: block;
    }
    .navlinks {
        display: none;        
    }
    .ConnectMe button h4{
        display: none;
    }
    
}



/* ---------------secHero---------------- */


.FrontSVG svg:first-of-type {
    display: block;
    margin-top: 29vh;
    width: 100%;
    height: 100%;
  
}

.FrontSVG svg:last-of-type {
    display: none;
    width: 100%;
    height: 100%;
    
}

.HeroUpText{
    position: absolute;
    display: flex;
    gap: 0.82rem;
    flex-direction: column;
    align-items: center;
    top: 20vh;
}
.HeroUpText h4{
    font-family: 'Kalam', cursive ;
    font-size: 5vw;
    font-weight:normal;
    
}
.HeroUpText h1{
    font-size: 5vw;
    text-align: center;
    width: 70%;

}
.HeroUpText span{
color: #0D6EFD;
}
.HeroUpText button{
    background: #05F;
    border: none;
    border-radius: 5rem;
    padding: 0.7vw 1.9vw;
    cursor: pointer;
}
.HeroUpText button a {
    color: white;
}
.HeroUpText {
        width: 100%;
    }

@media (max-width:600px) {

    .FrontSVG svg:first-of-type {
        display: none;
    }

    .FrontSVG svg:last-of-type {
        display: block;
        margin-top: -3rem;
    }
    
    .HeroUpText h4{
        font-size: 8vw;
        
    }
    .HeroUpText h1{
        font-size: 7vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .HeroUpText{
        gap: 2.82rem;
    }
    .HeroUpText button{
        padding: 1.8vw 6vw;
    }

}

/* ----------secAbout------------------------ */
.AboutSec{
    padding: 0 7vw;
    box-sizing:content-box;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}
.AboutSec img{
    /* height: 11vw; */
    position: absolute;
    left: 4vw;
    top: 56vw;
    border: 0.51px solid #05F;
    border-radius: 50%;
    background: #05F;
}
.aboutText{
    border: 2px solid #05F;
    border-top-right-radius: 10vw;
    border-bottom-left-radius: 10vw;
    padding: 0rem 10vw;
    padding-bottom: 2.4rem;
}
.aboutText p{
width: 76%;
text-align:left;
font-size: 1.2rem;
font-weight: 400;
line-height: 2rem;
}
.aboutText h1{
    font-size: 12vw;
    color: #EDECEC;
    font-weight: 700;
    
}

.endTnhings ul{
    display: flex;
    gap: 0.62rem;
    align-items: center;
    justify-content: center;


}
.endTnhings {
    display: flex;
    gap: 2rem;
    padding-top: 3rem;
    align-items: center;

}
.endTnhings button a{
    align-items: center;
    display: flex;
    gap: 0.42rem;
    color: white;
}

.endTnhings button {
    display: flex;
    padding: 0.4rem 0.4rem;
    padding-left: 1rem;
    border: none;
    border-radius: 8rem;
    background: #05F;
}

@media (max-width:1286px) {
    .AboutSec img{
        top: 66vw;
       
    }
}
@media (max-width:903px) {
    .AboutSec img{
        display: none;
       
    }
}

@media (max-width:600px) {
    .AboutSec img{
        display: block;
        top: 157vw;  
        left: 2vw;
        height: 7.3rem;
     
    }
    .AboutSec{
        padding: 0rem ;
        padding-bottom: 1.4rem;
        height: max-content;
    }
    .aboutText{
        padding: 5rem 6vw;
        padding-bottom: 2rem;
    }
    .aboutText p{
        width: 90%;
        font-size: .92rem;
        line-height: 1.9rem;
        }
        .endTnhings ul{
            flex-direction: column;
            gap: 0.4rem;
            align-items: center;
            justify-content: space-between;
        
        
        }
        .endTnhings ul li svg{
          display: flex;
          height: 1.7rem;
          width: 1.7rem;
        
        }
        .endTnhings {
            display: flex;
            gap: 2rem;
            padding-top: 1.4rem;
            justify-content: space-between;
            align-items: center;
        
        }
        .aboutText{
        border: 2px solid #05F;
        border-top-right-radius: 0vw;
        border-bottom-left-radius: 10vw;
    }
}

/* ------------------Projects---------------- */
.ProjectSec{
    display: flex;
    gap: 1rem;
    box-sizing:content-box;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    
}
.leftSider{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leftSider h1{
transform: rotate(-90deg);
color: #EDECEC;
font-size: 11vw;
padding: 0;
margin: 0;
}
.RightSider {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}
.RightSider h1{
    font-size: 3.8vw;
}
.RightSider h1 span{
    color: rgb(93, 146, 251);
}

.RightSider ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
    gap: 2rem;
}
.RightSider ul li img{
    height: 25vw;
}
.RightSider ul li:first-child:before{
    display: none;
    content: "Resume Builder Web App";
    justify-content: center;
    align-items: center;    color: white;
    font-size: 1vw;
    position: absolute;
    /* top: 0; */
    background:rgba(0, 85, 255, 0.815);
    padding: 4.2vw;
    height: 4vw;
    width: 8.2vw;
    border-radius: 0.3rem; 
}
.RightSider ul li:nth-child(2)::before{
    display: none;
    content: "Placement Module";
    color: white;
    justify-content: center;
    align-items: center;    font-size: 1vw;
    position: absolute;
    /* top: 0; */
    background:rgba(0, 85, 255, 0.815);
    padding: 4.2vw;
    height: 3vw;
    width: 8.2vw;
    border-radius: 0.3rem;

}
.RightSider ul li:nth-child(3)::before{
    display: none;
    content: "Fashion Landing Page";
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1vw;
    position: absolute;
    /* top: 0; */
    background:rgba(0, 85, 255, 0.815);
    padding: 4.2vw;
    height: 3vw;
    width: 8.2vw;
    border-radius: 0.3rem;

}
.RightSider ul li:nth-child(4)::before{
    display: none;
    content: "Cube E-Commerce Site ";
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1vw;
    position: absolute;
    /* top: 0; */
    background:rgba(0, 85, 255, 0.815);
    padding: 4.2vw;
    height: 3vw;
    width: 8.2vw;
    border-radius: 0.3rem;
}
.RightSider ul li:hover::before {
    display: flex;
    animation: upTo .9s ease forwards;
}

@keyframes upTo {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
    to {
        transform: translateY(20%);
        opacity: 1;
    }
   
}
.RightSider a{
    text-decoration: underline;
    color: #05F;
}
.RightSider a:hover{
    text-decoration: none;
}


@media (max-width:600px) {
    .RightSider ul li img{
        height: 45vw;
    }

    .RightSider ul li:first-child:before{
    
    font-size: 4vw;
    height: 36.6vw;
    width: 21.4vw;
   }
   .RightSider ul li:nth-child(2):before{
    font-size: 4vw;
    height: 36.6vw;
    width: 21.4vw;
   }
   .RightSider ul li:nth-child(3):before{
    font-size: 4vw;
    height: 36.6vw;
    width: 21.4vw;
   }
   .RightSider ul li:nth-child(4):before{
    font-size: 4vw;
    height: 36.6vw;
    width: 21.4vw;
   }


@keyframes upTo {
    from {
        transform: translateY(-30%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
   
}

}




/* ------------skillSec---------------------- */
.skillSec{
    height: 26vh;
    background: #05F;
    padding: 3vw;
    display: flex;
    flex-wrap: wrap;
    color: #FFF;
    justify-content: space-around;
}

  
.skillSec ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2vw;
}
.skillSec header{
    font-size: 3vw;
    width: 20%;
    align-items: center;
    display: flex;
    /* flex-wrap: wrap; */

}
.skillSec h6{
    font-weight: normal;
    font-size: 0.81rem;
}
.skillSec ul li{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 1rem;
}
.skillSec ul li img{
    height: 6vw;
}
.skillSec hr{
border-radius: 8rem;
width: 1px;
background: white;
border: none;
}

@media (max-width:600px) {

}

/* -----------------footer----------------- */

footer{
    background: #0B111F;
   color: white;
   padding: 4rem;
   padding-bottom: 2rem;
   justify-content: center;
   align-items: center;
   text-align: center;
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
footer hr{
border-radius: 8rem;
width:100%;
height: 1px;
background: white;
border: none;
}
.footBody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.4rem;
    padding: 5rem;
    padding-bottom: 3rem;
}
.footBody h4{
    font-size: 2rem;
    font-weight:lighter;
}
.footBody h1{
    font-size: 4rem;
}
.footBody button{
    background: #05F;
    width:fit-content;
    border: none;
    color: white;
    padding: 0.4rem 2.5rem ;
    border-radius: 8rem;
    font-size: 1.2rem;
}
.footBottom button{
    width:fit-content;
    border: 1px solid white ;
    color: white;
    padding: 0.4rem 2rem ;
    border-radius: 8rem;
    background: transparent;
    cursor: pointer;
}
.footBottom{
    display: flex;
    gap: 1rem;
}





  